<div class="navbar navvar-expand-sm justify-content-end">
  <a href="index"><i class="fa fa-fw nav-icon fa-home"></i></a>
  <a href="search"><i class="fa fa-fw nav-icon fa-search"></i></a>
  <a href="browse"><i class="fa fa-fw nav-icon fa-list-ul"></i></a>
  <a href="members"><i class="fa fa-fw nav-icon fa-user"></i></a>
</div>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-transparent p-4">
      <h4 class="text-white">
      </h4>
      <span class="text-muted"></span>
    </div>
  </div>
  <!-- <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </nav> -->
</div>
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Seller Teller</h1>
    <hr>
    <h2 class="text-center">Show Me The Sales Around you</h2>
    <br>
    <div class="text-center">
      {{!-- <button class="btn btn-lg btn-primary" id="btn-view-sales" type="button">View Sales</button> --}}
      {{!-- <a class="d-block text-center mt-2 small" href="browse">View Sales</a> --}}
      <input type="button" class="btn btn-primary font-weight-bold" onclick="location.href='browse';" value="View Sales" />
    </div>
  </div>
</div>
