<head>
  <link rel="stylesheet" href="../styles/login.css">
</head>



    <div class="row">
      <!-- <div class="col-md-9 col-lg-8 mx-auto"> -->
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <!-- <h3 class="login-heading mb-4">Welcome back!</h3> -->
            <h5 class="card-title text-center">Login</h5>
            <!-- <form class="form-signin"> -->
              <form class="login">
              <!-- <div class="form-label-group"> -->
                <div class="form-group">
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                      autofocus>
                    <label for="inputEmail">Email address</label> -->
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="Email">
              </div>

              <!-- <div class="form-label-group"> -->
                <div class="form-group">
                <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label> -->
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
              </div>

              <!-- <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div> -->
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
              <!-- <div class="text-center"> -->
              <!-- <a class="small" href="#">Forgot password?</a></div> -->
              <a class="d-block text-center mt-2 small" href="signup">Sign Up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
